<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymelead-extras-springsecurity5">
<head th:replace="Fragments/layout.html :: headerfiles"> </head>
<body>
  <img th:src="@{/images/JAM_LOGO.png}" class="logo" alt="JAM Logo">
 <nav class="navbar jamHeader">
 	<form class="form-inline" th:action="@{/login/}" method="post">
  		<div sec:authorize="isAnonymous()" class="form-group">
  			<label class="loginUsernameLabel">Username</label>
  			<input type="email" class="form-control loginUsernameInputBox" name="email" placeholder="E-mail" required autofocus></input>
  			
  			 <div th:if="${param.error}">
				<span class="loginBadCredentials">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</span>
			</div>
			<div th:if="${param.Logout}">
				<span class="text-warning loginBadCredentials">You have been logged out</span>
			</div>
  			
  			<a class="forgotYourPasswordText" th:href="@{'/forgot_password'}">Forgot your password?</a>
  			
  			
  			<label class="loginPasswordLabel">Password</label>
  			<input type="password" class="form-control loginPasswordInputBox" name="password" placeholder="Password" required></input>
  			
  			<input type="submit" class="loginBtn" value="Login"/>
  		</div>
  		<div sec:authorize="isAuthenticated()">
  			<a href="/logout"><button type="button" class="logoutBtn">Logout</button></a>
  		</div>
  	</form>
</nav>


<div class="signUpBody">
 	<div id="trendyVideoIntro" class="mt-5 h3">Trending</div>
 	
 	<video class="col-md-4 col-lg-5 h-50 signUpPageVideo" width="400" height="200" controls>
 		<source th:src="@{/videos/samplevideo.mp4}" type="video/mp4">
 	</video>
 	<br>
 	<a id="proceedWithoutSignIn" class="mt-4" th:href="@{'/video/genericvideolandingpage'}">Proceed to Jam without signing in</a>
 	
	 <div id="signUpForm">
	 	<a id="signUpHeader" th:href="@{'/login/signup'}" >Sign Up</a>	 	
	 
	</div>
</div>

<div class="footer">
  <p style="margin-top: 3px;">@2020-2021 Jam | Term 2</p>
</div>
	
</body>
</html>